@model CartIndexViewModel

<div class="row">
    <div class="col col-lg-6 mx-auto">
        @if (Model.Items.Count == 0)
        {
            <div class="alert alert-info">
                No items in cart
            </div>
        }
        else
        {
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Value</td>
                            <td>@item.Quantity</td>
                            <td>@(item.Price * item.Quantity)</td>
                            <td>
                                <a class="btn btn-danger" asp-controller="Cart" asp-action="Remove"
                                   asp-route-id="@item.Id">Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    </div>
</div>
